*{
 padding: none;
 margin: none;
 list-style: none;
 outline: none;
 border: none;
 top: 0;


 -webkit-box-size:border-box;
 -moz-box-size:border-box;
     
}

/**
* ==================================== *
*      stylesheet to login pages
* ==================================== *
*/

div.background{
	position: absolute;
	left: -20;
	height: 100%;
	width: calc(100% - 300px); 
	background-image: url(../assets/images/financeiro.png);
	background-size: cover;
}
div.background h1{
	font: 3em 'Fredoka One' , cursive;
	color: #f3f3f3;
	margin-left: 50px;
	margin-top: 30px;
}
section#conteudo-view{
	float: right;
	padding:20px;
	width: 300px;
	height: 100%;
	position: absolute;
	right: 0;
	background: #34495e;
	
}
section#conteudo-view h1{
	float: left;
	width: 100%;
	font: 3em 'Fredoka One' , cursive;
	color: #f3f3f3;
	margin-top: 50px;
	height: 10px;
}
section#conteudo-view h3,
section#conteudo-view form p {
	float: left;
	width: 100%;
	font: .8em'Fredoka One' , cursive;
	color: #f3f3f3;
}

section#conteudo-view form,
section#conteudo-view form label{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
section#conteudo-view form{
	margin-top: 20px;
}
section#conteudo-view form p {
	font-size: 1.25em;
}
section#conteudo-view form  input[type="submit"],
section#conteudo-view form label input{
	float: left;
	width: 100%;
	height: 40px;
	padding: 0 20px;
	border-radius: 20px;
	border:2px solid #52ca9b;
	color: #959595;
	font: 1em 'Arial';
	
}
section#conteudo-view form  input[type="submit"]{
	width: 60%;
	float: right;
	background: #00ff96;
	color: #f9f9f9;
	text-align: center;
	font: 1em'Fredoka One' , cursive;

}

body{
	background: #ECECEC;
}

/**
* ==================================== *
*      stylesheet to menu lateral
* ==================================== *
*/

#principal{
	position: fixed;
	float: left;
	width: 	220px;
	height: 100%;
	border-right: 1px solid #e9e9e9;
	box-shadow: 0 0 15px rgba(0,0,0,.15);
	background: #34495e;
	z-index: 5;
	left: 0;
}
#principal ul,
#principal ul  li{
	float: left;
	width: 100%;
	height:30px;
	
}

#principal ul  li a{
	
	float: left;
	width: 100%;
	height: 30px;

}

#principal ul{
	padding-left: 0;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom:15px;
	
}

#principal ul  li a i{
	float: left;
	width: 80px;
	height: 30px;
	color:inherit; /*vai herdar a cor do elemento pai*/
	text-align: center;
	line-height: 30px;
	font-size: 2em;
	color: white;
}

#principal ul  li a h3{
	margin-top:0px;
	float: left;
	width: 80px;
	height: 30px;
	font: 1em/30px 'Fredoka One' , cursive;
	color: white;
	margin-left: -4%;
}

#principal ul  li a:hover h3{
	color:orange;
}


/**
* ==================================== *
*      stylesheet to area conteudo
* ==================================== *
*/
#view-conteudo{
	
	float: left;
	max-width: 1360px;
	width: 100%;
	height: 100%;
	padding: 20px 20px 20px 240px;
	z-index: 1;
}


/**
* ==================================== *
*      stylesheet to form
* ==================================== *
*/

form.form-padrao{
	float: left;
	width: 100%;
}

form.form-padrao label{
	float: left;
	width: 35%;
	height: 60px;
	padding: 7px 15px;
	border: 1px solid white;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
}

form.form-padrao label:nth-last-of-type(odd){
	margin-left: 2%;
	margin-right: 2%;
}

form.form-padrao label span{
	float: left;
	width: 100%;
	font: 400 .75em "Arial";
	color: #c7c7c7;
	padding-bottom: 5px;
}

form.form-padrao label input{
	float: left;
	width: 100%;
	color: #5c5c5c;
	font: 400 1.25em "Arial";
	background: transparent;
}

form.form-padrao label.submit{
	background: #0ad181;
	border-color:#0aaa67;
}

form.form-padrao label.submit input{
	font-weight: 800;
	text-transform: uppercase;
	line-height: 50px;
	color: #f9f9f9;
}

.default-table{
	float: left;
	width: 78%;
	background: white;
	padding: 10px;
	border: 1px solid #e9e9e9;
	font: 400 .9em 'Arial';
	color: #5c5c5c;
}

.default-table thead{
	text-transform: uppercase;
	font-size: .8em;
	font-weight: 800;
}

.default-table thead tr{
	height: 40px;
}

.default-table tbody tr{
	height: 30px;
}

